body {
    font-family: 'Courier New', Courier, serif;
    background-color: #1d4b74;
}

header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #0B6115;
    padding: 10px;
    text-align: center;
}

nav a {
    color: black;
    font-weight: 5;
    padding: 20px;

}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.boxes {
    display: flex;
    
}

.boxtext {
    background-color: #0B6115;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        background-color: #1d4b74;
    }

    body {
        background-color: #0B6115;
    }

    nav a {
        padding: 2px;
        
    }

    main {
        margin: 20px 0;
    }

    aside {
        margin: 20px 0;
    }

    .boxtext {
        background-color: #1d4b74;
    }
}

